@page "/contratos"
@inject HttpClient http
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Contratos</PageTitle>

<h1>Contratos</h1>

@if (contratosFiltroQueryable == null)
{
    <p><em>Carregando...</em></p>
}
else if (contratosFiltroQueryable.Count() == 0)
{
    <p><em>Não existem contratos cadastrados...</em></p>
}
else
{
    <div class="grid">
        <QuickGrid Items="@contratosFiltroQueryable" @ref="refgrig" Pagination="@pagination">
            <PropertyColumn Property="@(p => p.NumeroContrato)" Title="Número" Sortable="true" />
            <PropertyColumn Property="@(p => p.NumeroCliente)" Title="Número do Cliente" />
            <PropertyColumn Property="@(p => p.Descricao)" Title="Descrição" />
            <PropertyColumn Property="@(p => p.PrazoComentariosDias)" Title="Última Revisão">
                <ColumnOptions>
                    <input type="checkbox" @bind="ultimas" @bind:after="Filter"/> Mais altas
                </ColumnOptions>
            </PropertyColumn>
            <TemplateColumn Title="Ação">
                <button class="btn btn-primary" @onclick="@(() => ExibeStatus(context))">Status</button>
            </TemplateColumn>
        </QuickGrid>
    </div>
    <div>
        times:
        <select @bind="@pagination.ItemsPerPage">
            <option>5</option>
            <option>10</option>
        </select>
    </div>
    <Paginator State="@pagination" />

    <p>
        <h4><b>@Mensagem</b></h4>
    </p>
}

@code {
    IQueryable<ContratoView>? contratos;
    IQueryable<ContratoView>? contratosFiltroQueryable;
    private bool ultimas;
    QuickGrid<ContratoView>? refgrig;
    PaginationState pagination = new PaginationState { ItemsPerPage = 5 };

    public string Mensagem { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(300);
        await CarregaCategorias();

    }

    private void ExibeStatus(ContratoView documento)
    {
        Mensagem = $"{documento.NumeroContrato}-{documento.Descricao}";
    }

    private async Task CarregaCategorias()
    {
        var lista = await http.GetFromJsonAsync<ContratoView[]>("https://localhost:5000/api/Contrato/v1/ObterContratos/650c946400015409e93dcc71");
        contratos = lista.AsQueryable();
        contratosFiltroQueryable = contratos;
    }

    public async Task Filter()
    {
        if (ultimas)
        {
            var revisaoMax = contratos.Max(r => r.PrazoComentariosDias);
            contratosFiltroQueryable = contratos.Where(x => x.PrazoComentariosDias == revisaoMax);
        }
        else
        {
            contratosFiltroQueryable = contratos;
        }
        await refgrig!.RefreshDataAsync();
    }

}
